<ms-mini-cart></ms-mini-cart>
<div class="row">
    <div class="col-sm-3">
        <img ng-src="{{product.picture}}" ng-alt="{{product.title}}">
    </div>

    <div class="col-sm-9">
        <div class="alert alert-danger" ng-show="product.inventory === 0"><strong>This item is currently unavailable</strong></div>
        <h2 ng-bind="product.title"></h2>
        <p ng-class="{old: product.isSpecial}" ng-bind="product.price"></p>
        <p ng-show="product.isSpecial == true" ng-bind="product.specialPrice"></p>
        <p ng-bind="product.description"></p>
        <div>
            <ms-add-cart-button product="product">To Cart</ms-add-cart-button>
        </div>
    </div>
</div>

<div class="row">
 
    <!-- add featured here -->
    <div class="col-sm-offset-2 col-sm-12 featured">
        <div class="small">
            <div class="three" ng-repeat="item in featuredProducts | limitTo:3">
                <ms-featured-products product="item"></ms-featured-products>
            </div>
        </div>
    </div>
 
</div>

<div class="row">
     <a>Return to Products</a>
</div>